# Node / build
node_modules/
dist/
build/
.tmp/
.temp/
.temp/**
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite / cache
.vite/
vite.config.ts.timestamp-*
*.tsbuildinfo

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Testes / cobertura
coverage/
*.lcov

# Ambiente (NUNCA commitar segredos)
.env
.env.*
!.env.example   # mantenha apenas o template sem segredos

# Lint/format cache
.eslintcache
